<p>books works!</p>

<div>The author of this book is ... <h1>{{author}}    </h1></div>


<img src="" [alt]="author">

<button style="height:100px;font-size:30px;" [disabled]=isEnabled>Enabled or disabled</button>


<button style="height:100px;font-size:30px;" (click)="handleclick()">Click event</button>


<h1>part 1  two way bindding</h1>


<input style="height:100px;font-size:30px;" (input)="handleInput($event)" type="text" />


<p>{{inputValue}}</p>
<br>
<br>
<br>

<h1>part 2  two way bindding</h1>

<input style="height:100px;font-size:30px;" [(ngModel)]="inputBindiingValue" type="text" />


<p>{{inputBindiingValue}}</p>




