<p>directives works!</p>


<h1>NgIf</h1>
<button (click)="toggleshow()">toggle books</button>

<ul *ngIf="isShowing">
    <li>When you click the button ....all the contents of the tag where the ngIf will be toggled</li>
    <li>asdfadfadfadf</li>
</ul>



<h1>Or</h1>
<button (click)="isVisible = !isVisible">Aonther method</button>

<ul *ngIf="isVisible">
    <li>When you click the button ....all the contents of the tag where the ngIf will be toggled</li>
    <li>asdfadfadfadf</li>
</ul>



<br/>
<br/>
<br/>

<h1>Example </h1>

<button (click) = "showTextA = !showTextA">show text</button>

<ng-container *ngIf="showTextA"><span  style="font-size:50px;">Text A</span> </ng-container>
<ng-container *ngIf="!showTextA"><span style="font-size:50px;">Text B</span> </ng-container>

